/* Global */

html,
body {
    height: 95%;
}

body {
    padding-top: 50px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.error404 {
    padding-top: 1%;
}


/* Index */

header.carousel {
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.cabecera {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.menu {
    padding: 10px 10px 10px 10px;
}

.menuSeleccion {
    font-size: 20px;
}

a.logo {
    margin: -8% 0px 0px 0px;
}

img.logo {
    padding: 0px 0px 0px 0px;
    height: 250%;
}

.navbar-inverse {
    background-color: #3F51B5;
    border-color: #080808;
}

.mapa {
    padding-top: 5%;
}

#map {
    height: 100%;
}

.iconCitas{
    padding: 5% 0px 0px 0px;
}

.placeholder{
    font-size: 20px;
    text-align: justify;
    padding: 0px 0px 10px 5%;
}

.textoProyectoIzq {
    padding: 10px 0px 10px 0px;
}

.textoProyecto {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 5%;
}

.infotext{
    text-align: center;

}

.info{
    font-size: 20px;
    text-align: justify;
    padding: 5% 0% 5% 0%;
    margin-top: 5%;
    border: 10px solid white;
    border-radius: 50px;
    background-color: #3F51B5;
    color: white;
}

.infoImagen{
    display: block;
    padding: 4px;
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    /* background-color: #fff; */
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-bottom: 20%;
    padding-top: 5%;
}

.infoConc{
    font-size: 14px;
    text-align: justify;
    padding: 5% 5% 5% 5%;
}

.infoDes{
    font-size: 14px;
    text-align: justify;
    padding: 7% 5% 19% 5%;
}

.tab1 { 
    padding-left: 1em; 
}

/* Citas */

.citas {
    font-size: 20px;
    text-align: justify;
    padding: 10px 0px 10px 10px;
}

.citas i {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background: #222;
}

.citas h3 {
    text-align: center;
    font-weight: bold;
}

.cita {
    text-align: center;
}

.imagenCita {
    margin: auto;
    width: 100%;
}

.infoCita {
    font-size: xx-large;
}

.infoCita h3 {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
}

.btnCitas {
    text-align: center;
    font-size: 20px;
    color: #2A2A2A;
    background: white;
    border: solid 1px #2A2A2A;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 5px;
    text-align: center;
    width: 75%;
}

.btnCitas:hover {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}

.btnCitas:focus {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}

.btnCitas:active {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}


/* Parajes */

.parajes {
    font-size: 20px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

.parajes i {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background: #222;
}
.parajes h3 {
    text-align: center;
    font-weight: bold;
}

.parajes h4 {
    text-align: center;
}

.imagenParajes {
    padding: 2% 0px 2% 0px;
}

.imgParajes{
    border-radius: 25%;
}

.paraje {
    text-align: center;
    padding-top: 1%;
}

.imagenParaje {
    margin: auto;
    width: 100%;
}

.infoParaje {
    font-size: xx-large;
}

.infoParaje h3 {
    font-size: xx-large;
    font-style: oblique;
    font-weight: bold;
}

.infoParaje p {
    font-size: initial;
    margin: 10px 0 10px
}

.btnParajes {
    text-align: center;
    font-size: 20px;
    color: #2A2A2A;
    background: white;
    border: solid 1px #2A2A2A;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 5px;
    text-align: center;
    width: 75%;
}

.btnParajes:hover {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}

.btnParajes:focus {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}

.btnParajes:active {
    color: #fff;
    background: #03A9F4;
    border: solid 1px #222;
}


/* Contacto */

.detalles {
    font-size: 20px;
    text-align: justify;
    padding: 10px 0px 10px 10px;
}

.detalles i {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background: #222;
}

.detalles p {
    padding: 5px 0px 5px 0px;
}


/* Footer */

footer {
    margin: 25px 0px 0px 0px;
    padding: 0.5em;
    background-color: #222;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
}

.footContainer {
    padding: 0px 0px 25px 0px;
}

.footLogo {
    width: 100%;
    margin: 25% 0 25% 0;
}

.footInfo {
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: white;
}

.footInfo p {
    margin-top: 5%;
}

.footSocial {
    text-align: center;
}

.footSocial a {
    font-size: 12px;
    color: white;
    border: solid 1px white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 34px;
    display: inline-block;
    padding: 8px 0;
    margin-right: 5px;
    text-align: center;
}

.footSocial a:hover {
    transition: all ease 0.3s;
}

.footSocial a.facebook:hover {
    color: #fff;
    background: #4267b2;
    border: solid 1px #4267b2;
}

.footSocial a.twitter:hover {
    color: #fff;
    background: #1da1f2;
    border: solid 1px #1da1f2;
}

.footSocial a.linkedin:hover {
    color: #fff;
    background: #0177B5;
    border: solid 1px #0177B5;
}

.footSocial a.bitbucket:hover {
    color: #fff;
    background: #205081;
    border: solid 1px #205081;
}

.footSocial a.web:hover {
    color: #fff;
    background: #D90000;
    border: solid 1px #D90000;
}

.footSocial a.email:hover {
    color: #fff;
    background: #797790;
    border: solid 1px #222;
}

.footContacto {
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: white;
}

.footContactoDetalles {
    text-align: justify;
}

.footContactoDetalles i {
    width: 50px;
    /*height: 50px;*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.copyright {
    text-align: center;
    color: white;
}


/* Responsive */

@media(max-width:480px) {
    img.logo {
        margin-top: 5%;
    }
    .detalles {
        text-align: center;
    }
    .footContactoDetalles {
        text-align: center;
    }

    .infoDes {
        padding: 7% 5% 19% 5%;
    }
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    header.carousel .carousel {
        height: 70%;
    }
}
